In [23]:
## import libaries 
import pandas as pd
import numpy as np
import requests
from pprint import pprint

## Disney Characters

In [24]:
# get the api url and connect to the sever
url ='https://api.disneyapi.dev/characters'
response = requests.get(url)
print(response)

<Response [200]>

In [26]:
# convert the data to the disney dictionary
disney = response.json()

In [27]:
#pprint(disney)

In [29]:
disney.keys() # check the keys in the dictionary

dict_keys(['data', 'count', 'totalPages', 'nextPage'])

In [31]:
disney['data'][0].keys() # check the keys in the dictionary of data

dict_keys(['films', 'shortFilms', 'tvShows', 'videoGames', 'parkAttractions', 'allies', 'enemies', '_id', 'name', 'imageUrl', 'url'])

In [33]:
disney['count'] # check the value of count in the main dictionary

50

In [35]:
len(disney['data']) # check the whole length of the 'data'

50

In [38]:
disney['totalPages'] # check the value of the totalPages, so it's total 149 pages

149

In [39]:
disney['nextPage'] # It mentioned how to go to the next page, so just change the number after page=

'https://api.disneyapi.dev/characters?page=2'

In [67]:
# create a function to get the name and url in the data sub-dictionary of each page
def get_data(page_number):
  try:
    url =f'https://api.disneyapi.dev/characters?page={page_number}'
    response = requests.get(url)
    disney = response.json()
    name = [] # create an empty list for name
    film = [] # create an empty list for film
    url = []  # create an empty list for url
    for i in range(0,50):    ## use for loop to add the value of each object to its list.
      x = disney['data'][i]['name']
      y = disney['data'][i]['films']
      z = disney['data'][i]['url']
      name.append(x)
      film.append(y)
      url.append(z)
    return  name, film, url # return the list
  except:
        return 'Error', np.NAN, np.NAN, np.NAN

In [68]:
## create an empty dataframe
df_disney =pd.DataFrame()

In [73]:
## there are total 149 pages, so add the dataframe of each page together.
i = 1
while i<=148:

  df = pd.DataFrame(get_data(i)).T
  df_disney = df_disney.append(df, ignore_index=True)
  i +=1

In [90]:
## check the columns and rows of the dataframe
df_disney.shape

(12400, 3)

In [91]:
## change column names
df_disney.columns = ['Name','Film','URL']

In [92]:
## show the first rows of the dataframe
df_disney.head(20)

,Name,Film,URL
0,'Olu Mel,[],https://api.disneyapi.dev/characters/6
1,.GIFfany,[],https://api.disneyapi.dev/characters/7
2,627,[],https://api.disneyapi.dev/characters/10
3,9-Eye,[],https://api.disneyapi.dev/characters/11
4,90's Adventure Bear,[],https://api.disneyapi.dev/characters/12
5,A.B.E.,[],https://api.disneyapi.dev/characters/13
6,A.J. Arno,"[The Computer Wore Tennis Shoes, Now You See H...",https://api.disneyapi.dev/characters/14
7,A.R.F.,[],https://api.disneyapi.dev/characters/15
8,Abdullah,[Cheetah],https://api.disneyapi.dev/characters/16
9,Abigail Markham,[],https://api.disneyapi.dev/characters/17
10,Abigail the Cow,"[The Fox and the Hound, The Fox and the Hound 2]",https://api.disneyapi.dev/characters/18
11,Abigail,[],https://api.disneyapi.dev/characters/19
12,Queen Abigail,[],https://api.disneyapi.dev/characters/20
13,Abis Mal's Thugs,"[The Return of Jafar, Aladdin and the King of ...",https://api.disneyapi.dev/characters/21
14,Able,[],https://api.disneyapi.dev/characters/22
15,Abraxas,[],https://api.disneyapi.dev/characters/23
16,Absolem,"[Alice in Wonderland (2010 film), Alice Throug...",https://api.disneyapi.dev/characters/24
17,Abu,"[Aladdin (film), The Return of Jafar, Aladdin ...",https://api.disneyapi.dev/characters/25
18,Abuelita,[],https://api.disneyapi.dev/characters/26
19,Abuelito,[],https://api.disneyapi.dev/characters/27